<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @programming_error.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @programming_error.code %>
</p>

<p>
  <strong>Message:</strong>
  <%= @programming_error.message %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @programming_error.cause %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @programming_error.solution %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @programming_error.reference %>
</p>

<p>
  <strong>User:</strong>
  <%= @programming_error.user %>
</p>

<%= link_to 'Atras', programming_errors_path %>
